::-webkit-scrollbar {
	background: linear-gradient(115deg, rgb(8, 227, 243), 40%, rgb(76, 6, 133));
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background: #718cc7c4;
	border-radius: 20px;
}

.post-lyrics-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(126, 126, 126);
	background: linear-gradient(115deg, rgb(8, 227, 243), 40%, rgb(76, 6, 133));
}

.post-lyrics-form {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: left;
	border-radius: 10px;
	border-color: transparent;
	border-style: solid;
	border-width: 2px;
	margin-top: 50px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	background: rgba(0, 0, 0, 0.349);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.input-title {
	background-color: rgba(7, 7, 7, 0.205);
	border-width: thin;
	color: silver;
	border-style: none;
	border-radius: 20px;
	height: 37px;
	width: 300px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-left: 15px;
}

.lyrics-textarea {
	width: 90%;
	height: 200px;
	border-color: gray;
	background-color: rgba(7, 7, 7, 0.205);
	border-width: thin;
	color: silver;
	border-style: none;
	border-radius: 20px;
	margin-left: 20px;
	padding-left: 15px;
	padding-top: 8px;
	margin-bottom: 20px;
	overflow-wrap: break-word;
	font-size: small;
}

.lyrics-textarea::-webkit-scrollbar {
	background: #132342cb;
	width: 12px;
}

.lyrics-textarea::-webkit-scrollbar-thumb {
	background: #5b77b46e;
	border-radius: 20px;
}

.lyrics-textarea::-webkit-scrollbar-corner {
	visibility: hidden;
}

.form-button {
	align-self: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	padding: 10px 15px 10px 15px;
	border-radius: 30px;
	color: white;
	background: linear-gradient(115deg, rgb(8, 227, 243), 40%, rgb(76, 6, 133));
	border: none;
	width: 130px;
	font-weight: 700;
}

.form-button:hover {
	cursor: pointer;
	background: rgb(255, 255, 255);
	color: indigo;
	transition-duration: 1s;
	border: none;
}
