
.full-playlist {
  /* padding: 15px 32px; */
  padding-top: 20px;
  padding-bottom: 20px;
  height: "57vh" !important;
  width: "330vh";
  border-radius: 20px;
  padding-left: 30px;
  background-color:#110f1da1 !important; 
  margin-bottom: 10px;
  
  
}

.playlist-name{
  color:cornsilk;
}



.playlist-box{
  width: 1150px;
  overflow-x: scroll;
}



