
.full-playlist {
  /* padding: 15px 32px; */
  padding-top: 20px;
  padding-bottom: 20px;
  width: "330vh";
  border-radius: 20px;
  
  background-color:#110f1d86 !important; 
  margin-bottom: 10px;
  
  
}

.playlist-name{
  color:cornsilk;
}



.playlist-box{
  width: 1150px;
  
}

.RemoveButton{
  border:none;
  margin-left: 190px;
  color: grey;
  
}



