.postLyricsSection{
    height: 630px;
    width:1100px;
    background-color:#110f1db4 ;
    margin-top: 35px;
    margin-bottom: 120px;
    margin-left: 60px;
    border-radius: 20px;
    padding: 20px;
}