.feed-navbar{
    height:25px;
    background-color:#ffffff00!important;
    width: 100% !important;
}

.navbar-name{
    color: rgb(0, 0, 0) !important;
    padding-right: 10px !important;
    
     /* Doesn't apply cause bulma.min.css */
}