.hero-b-o{
    height: 7rem;
    background-color: rgb(199, 200, 218) !important;
    border-radius: 20px;
    margin-bottom: 20px;
}
.hero-img{
    height: 3rem;
}
.card-img{
    width: 15rem !important;
}
.video-grid{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}
.vid-if{
    width: 100% !important;
}
.like-comment{
    border: 1px solid rgb(255, 255, 255);
}
.top-bar{
    padding-left: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 80px 80px 10px 10px;
}
.add-cover{
    background-color: rgb(226, 226, 226) !important;
    text-align:center;
    /* padding-top: 80px !important; */
}
.postCoverBtn{
    border:none;
    background-color: transparent;
    width: 15rem;
    height: 15rem; 
}
.likeBtn-inModal{
    /* height: 2rem;
    width: 10rem; */
    border:none !important;
    border-radius: 40PX;
    text-align: center;
    background-color: transparent;
    font-size: 20px;
    
}
.likeBtn-inModal:hover{
    background-color: transparent;
    color: tomato;
    transition-duration: 0.4s;
}

.report-btn{
    border:none;
    margin-left: -30px !important;
    height: fit-content;
}

.report-btn:hover{
    background-color: transparent !important;
}

.AddFav-btn{
    background-color: none;
    border: none;
    height: fit-content;
}

.AddFav-btn:hover{
    background-color: transparent !important;
}

.cover-foot{
    margin-top: 40px ;
}