.seeBtn{
    background-color: #cccccc; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: 16px;
      
}


.seeBtn:hover {
  background-color: #a17ad4; /* Green */
  color: white;
  
}

.fullPost{
  padding: 15px 32px;
  height: "57vh";
  width: "330vh";
}

.postedBy{
  padding: 15px 20px;
}


.postContent{
  width: 980px;
  
}

.writer{
  width: 700px;
  height: 70px;
  padding: 10px 8px;
  align-self: center;
}

.songName{
  font-size: 1.3rem!important;
  
}

.lyricBox{
  max-height: 400px;
}

.halfLyricSection{
  padding-top: 10px;
  padding-left: 20px;
}

.descriptionSection{
  padding-left: 30px!important;
}

.writerName{
  padding-bottom: 20px;
  color: #c0c0c0;
  
}
