.seeBtn{
    background-color: #70c57300; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: 16px;
      
}


.seeBtn:hover {
  background-color: #a17ad4; /* Green */
  color: white;
  
}

.fullPost{
  padding: 15px 32px;
  height: "57vh";
  width: "330vh";
}

.postedBy{
  padding: 15px 20px;
}


.postContent{
  width: 980px;
  
}

.writer{
  width: 700px;
  height: 70px;
  padding: 10px 8px;
}

.writerName{
  padding: 23px 20px;
}

.lyricBox{
  max-height: 400px;
}

.halfLyricSection{
  padding-top: 10px;
  padding-left: 20px;
  white-space: pre-wrap;
}

.descriptionSection{
  width: 400px!important;
  padding-left: 100px!important;
  padding-right: 10px!important;
  float: left;
}

.closeBtn{
  background-color: #70c57300;
  float:right;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  font-size: 16px;
    
}


.closeBtn:hover {
background-color: #a17ad4; /* Green */
color: white;

}

.coverBtn{
  background-color: #bec2beea;
  height: 200px!important;
  width: 300px!important;
  float:right;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  font-size: 16px;
    
}


.coverBtn:hover {
background-color: #a17ad4; /* Green */
color: white;

}

.subtitle{
  font-size: 0.9rem!important;
  white-space: pre-wrap!important;
  display: inline;
}

.writer{
  size: 1.2rem!important;
}

.likeComment{
  padding-bottom: 20px;
  padding-top: 20px;
}

.thumbnails{
  padding-left: 80px!important;
}

.next{
  padding-top: 90px;
  padding-left: 10px;
}

