.feedbody {
	/* background-color:#110f1d!important; */
	background-image: url(../../Assets/Feed/feedBackground6.jpg);
	/* background-color: white; */
	background-size: cover;
	height:min-content;
	overflow-y: hidden;
	overflow-x: hidden;
}

.feed-area {
	align-self: center !important;
	padding-right: 30px !important;
	height:auto;
}
